<h1> <%= @user_team.name %> </h1>
<h2> <%= @user_team.win_loss_record %> </h2>
<ol>
  <% @user_team.players.each do |p| %>
  <li><%= link_to p.name, player_path(p) %> Position: <%= p.position %> Goals: <%= p.goals(@user_team)%> Assists: <%= p.assists(@user_team) %></li>
  <% end %>
</ol>
