<div class="bigleft" >
<h1> Create a User </h1>
<%= form_for @user do |t| %>
<%if @user.errors.any? %>
<h2> Errors:</h2>
<ul>
<%@user.errors.full_messages.each do |message| %>
    <li> <%= message %> </li>
      <%end%>
    </ul>
    <%end%>
<%= t.label :name %>
<%= t.text_field :name %>
<%= t.label :password %>
<%= t.password_field :password %>
<%= t.submit %>
<% end %>
</div>

<style>
input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 12px;
  }


</style>
