<h1><%= @player.name %> </h1>
    <% if @player.team %>
  League: <%= link_to @player.league.name, league_path(@player.league) %><br>
  Team: <%= link_to @player.team.name, team_path(@player.team) %><br>

    <%end%>
<h2> Stats </h2>
Scoring: <%= @player.shooting %><br>
Passing: <%= @player.passing %><br>
Defense: <%= @player.defense %><br>
Foul: <%= @player.foul %><br>
Dribbling: <%= @player.dribbling %><br>
Position: <%= @player.position %><br>

<% if @player.user_id == session[:user_id] %>
<%= link_to "Edit", edit_player_path(@player) %>
<%end%>
