<h1><%= @player.name %> </h1>
  League: <%= link_to @player.league.name, league_path(@player.league) %><br>
  Team: <%= link_to @player.team.name, team_path(@player.team) %><br>
<h2> Stats </h2>
Scoring: <%= @player.shooting %>
Passing: <%= @player.passing %>
Defense: <%= @player.defense %>
Foul: <%= @player.foul %>
Dribbling: <%= @player.dribbling %>
