
<%=form_tag '/matches' do |m| %>
<div class="topleft">
<h1 align="center"> Pick Two Teams </h1>
<% if flash[:message] %>
<% flash[:message].each do |m| %>
<p style="color:red;margin-top:2px;padding-bottom:6px;"><%=m%></p>
<% end %>
<% end %>
<%= submit_tag "Simulate!" %>
</div>
<div class="bigleft">
Home Team: <%=select_tag 'home_user_team_id', options_for_select(@user_teams.collect{ |t| [t.name, t.id] }),:include_blank => true%><br>
</div>
<div class="bigleft">
Away Team: <%=select_tag 'away_user_team_id', options_for_select(@user_teams.collect{ |t| [t.name, t.id] }),:include_blank => true%><br>
</div>

<% end %>
