<%if @match.home_goals > @match.away_goals%>
<div class="bigleft">
<%elsif @match.away_goals == @match.home_goals%>
  <div class="biglefttie">
  <%else%>
<div class="bigleftloss">
  <%end%>
<h2 align="right"><%=@match.hometeam.name%>: <%=@match.home_goals %></h2>
<table>
  <tr>
    <th> Name </th>
    <th> Position </th>
  </tr>
<% @hometeam.each do |player| %>
<tr>
  <th style="font-size:14px;"><%= player.name %></th>
  <th style="font-size:14px;"><%= player.position %></th>
</tr>

<% end %>
</table>
</div>

<%if @match.away_goals > @match.home_goals%>
<div class="bigleft">
  <%elsif @match.away_goals == @match.home_goals%>
  <div class="biglefttie">
    <%else%>
<div class="bigleftloss">
  <%end%>
<h2 align="right"><%=@match.awayteam.name%>: <%=@match.away_goals %><br></h2>
<table>

  <tr>
    <th> Name </th>
    <th> Position </th>
  </tr>
  <% @awayteam.each do |player| %>
  <tr>
  <th style="font-size:14px;"><%= player.name %></th>
  <th style="font-size:14px;"><%= player.position %></th>
  </tr>
<% end %>
</table>
</div>


<div class="matchright">
<%eval(@match.final_log).each do |k,v|%>


<% if v!= "HALFTIME" && v.keys.include?(:foul_by) && (v[:action] != "yellow card" && v[:action] != "red card") %>
    <%if k.to_s.split('.').last.length == 1%>
      <li><%="At #{k.to_s.gsub('.',':')}0 there was a #{v[:action]} by #{v[:foul_by]}"%></li><br>
    <%else%>
    <li><%="At #{k.to_s.gsub('.',':')} there was a #{v[:action]} by #{v[:foul_by]}"%></li><br>
   <%end%>

   <% elsif v!= "HALFTIME" && v.keys.include?(:foul_by) && (v[:action] == "yellow card" || v[:action] == "red card") %>
       <%if k.to_s.split('.').last.length == 1%>
         <li><%="At #{k.to_s.gsub('.',':')}0 #{v[:foul_by]} was given a #{v[:action]}"%></li><br>
       <%else%>
       <li><%="At #{k.to_s.gsub('.',':')} #{v[:foul_by]} was given a #{v[:action]}"%></li><br>
      <%end%>

  <%elsif v!= "HALFTIME" && v.keys.include?(:assist_by)%>
          <%if k.to_s.split('.').last.length == 1 %>
            <li><%="At #{k.to_s.gsub('.',':')}0 #{v[:scored_by]} scored for #{v[:possession]}!!! Goooooooaaaaaaaaaaal!!!!!!. Assisted by #{v[:assist_by]}"%></li><br>
          <%else%>
  <li><%="At #{k.to_s.gsub('.',':')} #{v[:scored_by]} scored for #{v[:possession]}!!! Goooooooaaaaaaaaaaal!!!!!!. Assisted by #{v[:assist_by]}" %></li><br>
  <%end%>

  <%elsif v!= "HALFTIME" && v.keys.include?(:shot_by) && !v.keys.include?(:assist_by)%>
    <%if k.to_s.split('.').last.length == 1 %>
    <li><%= "At #{k.to_s.gsub('.',':')}0 there was a #{v[:action]} by #{v[:shot_by]}" %></li><br>
      <%else%>
      <li><%= "At #{k.to_s.gsub('.',':')} there was a #{v[:action]} by #{v[:shot_by]}" %></li><br>
      <%end%>

    <%elsif v== "HALFTIME" %>
  <li style="color:red"><%= "It is now Halftime"%></li><br>
<%end%>
<%end%>
<li style="color:red"><%= "Match is finished!"%></li>
 </ul>
</div>
