<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Futbol</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
</head>
  <ul class="nav">
      <li class="nav"><%= link_to "Home",   home_path %></li>
    <li class="nav"><%= link_to "Teams",   teams_path %></li>
    <li class="nav"><%= link_to "Players", players_path %></li>
    <li class="nav"><%= link_to "Match", new_match_path %></li>
    <li class="nav"><%= link_to "User Teams", user_teams_path %></li>

    <%if current_user %>
    <li class="nav" style="float:right"><%= link_to "Logout", logout_path %></li>
    <%end%>
    <%if !current_user %>
    <li class="nav" style="float:right"><%= link_to "Login", login_path %></li>
    <li class="nav" style="float:right"><%= link_to "Signup", signup_path%></li>
    <%else%>
    <li class="nav" style="float:right"><%= link_to "Logged in as #{current_user.name}", user_path(current_user)%></li>
    <%end%>
  </ul>
    </header>


  <body>
    <%= yield %>
  </body>
</html>
